@import "@css/customVariables.css";

.priBtn,
.secBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  text-decoration: none !important;
  border-radius: 80px;
  font-weight: bold;
  font-size: 1em;
  line-height: 3em;
  border: none;
  cursor: pointer;
  width: fit-content;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.priBtn {
  color: var(--text-inverse) !important;
  box-shadow: var(--btn-shadow);
  backdrop-filter: blur(15px);
}
.secBtn {
  background-color: var(--alert-success-bg);
}
.smallBtn {
  line-height: 2rem;
  padding: 0 1rem;
}

.priBtn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-link);
  border-radius: 80px;
  z-index: -2;
}
.priBtn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #5df6c2;
  transition: all 0.25s;
  border-radius: 80px;
  z-index: -1;
}
.priBtn:hover:before {
  width: 100%;
}
.secBtn:hover {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(24, 239, 177, 0) 0%,
    rgba(24, 239, 177, 0.3) 100%
  );
  transition: opacity 0.2s;
}

@media (max-width: 768px) {
  .priBtn,
  .secBtn {
    line-height: 2.5rem;
    width: 100%;
  }
}
