@import "@css/customVariables.css";

@font-face {
  font-family: "Poppins-Bold";
  src: url("../../static/fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("../../static/fonts/Lato-Regular.ttf") format("truetype");
}

:root {
  /* Override the default with our brand color */
  --ifm-color-primary: var(--text-link);
  --ifm-background-color: var(--surface-01) !important;
  --ifm-hover-overlay: var(--hover);

  /* Fonts */
  --ifm-heading-font-family: "Poppins-Bold", sans-serif;
  --ifm-heading-color: var(--text-primary);
  --ifm-font-family-base: "Lato", sans-serif;
  --ifm-font-color-base: var(--text-secondary);
  --ifm-font-family-monospace: "Space Mono", monospace;
  --ifm-blockquote-color: var(--text-secondary);

  --ifm-container-width: 2000px;
  --ifm-container-width-xl: 2000px;
  --ifm-hr-background-color: var(--border-subtle);
  --ifm-hr-margin-vertical: 4rem;

  /* Navbar */
  --ifm-navbar-background-color: var(--dark-surface-03);
  --ifm-navbar-link-color: var(--dark-text-secondary);
  --ifm-navbar-link-hover-color: var(--dark-text-link);
  --ifm-navbar-height: 64px;

  /* Sidebar */
  --doc-sidebar-width: 260px !important;
  --ifm-sidebar-border-color: var(--border-subtle);

  /* DocSearch for algolia*/
  --docsearch-modal-background: var(--surface-03) !important;
  --docsearch-footer-background: var(--surface-02) !important;
  --docsearch-border-color: var(--border-subtle) !important;
  --docsearch-placeholder-color: var(--text-tertiary) !important;
  --docsearch-muted-color: var(--text-tertiary) !important;

  /* Sidebar menu */
  --ifm-menu-color: var(--text-secondary);
  --ifm-menu-color-active: var(--text-link);
  --ifm-menu-color-background-active: var(--selected);
  --ifm-menu-color-background-hover: var(--hover);
  --ifm-menu-link-padding-horizontal: 1rem;
  --ifm-menu-link-padding-vertical: 0.4rem;

  /* Code Block */
  --ifm-code-background: var(--surface-02);
  --ifm-code-font-size: 0.875rem;

  /* Blockquote */
  --ifm-blockquote-border-color: var(--border-accent);
  --ifm-blockquote-border-width: 2px;

  /* Table of content */
  --ifm-toc-border-color: var(--border-subtle) !important;
  --ifm-toc-link-color: var(--text-tertiary);
  --ifm-link-color: var(--text-link);

  /* Table */
  --ifm-table-border-color: var(--border-invisible);
}

/* Navbar */
.navbar {
  align-items: center;
  padding: 0 1.5rem;
}

/*Search bar - deprecated*/
.navbar-search .DocSearch-Button {
  background-color: transparent;
  border: 1px solid var(--dark-border-subtle);
  border-radius: 40px;
  width: 280px;
  height: 3rem;
  padding: 0 1rem;
  margin-right: 0.5rem;
}
.navbar-search .DocSearch-Button:hover {
  background-color: var(--dark-hover) !important;
  border: 1px solid var(--dark-border-accent);
  box-shadow: none !important;
}

.DocSearch-Button .DocSearch-Search-Icon {
  color: var(--dark-text-tertiary) !important;
}

.DocSearch-Button-Placeholder {
  color: var(--dark-text-tertiary);
}

.DocSearch-Button-Key {
  background: var(--dark-surface-02) !important;
  color: var(--dark-text-secondary) !important;
  box-shadow: none !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  padding: 0 !important;
  font-size: 0.75rem !important;
  margin-right: -0.5rem !important;
}

/* @cmfcmf/docusaurus-search-local search  */
.navbar-search .aa-DetachedSearchButton {
  background-color: transparent;
  border: 1px solid var(--dark-border-subtle);
  border-radius: 40px;
  width: 260px;
  height: 2.5rem;
  padding: 0 1rem 0 0.5rem;
  margin-right: 0.5rem;
}
.navbar-search .aa-DetachedSearchButton:hover {
  background-color: var(--dark-hover) !important;
  border: 1px solid var(--dark-border-accent);
  box-shadow: none !important;
}
.aa-DetachedSearchButton .aa-DetachedSearchButtonIcon {
  color: var(--dark-text-tertiary) !important;
}
.aa-DetachedSearchButtonPlaceholder {
  color: var(--dark-text-tertiary);
}

.aa-DetachedFormContainer {
  background-color: var(--surface-02) !important;
  border-bottom: var(--border-subtle);
}
.aa-DetachedContainer,
.aa-DetachedContainer .aa-Panel {
  background-color: var(--surface-02) !important;
  background: var(--surface-02) !important;
}
.aa-Form {
  background-color: transparent !important;
  border: 1px solid var(--border-subtle) !important;
}
.aa-Label svg,
.aa-ClearButton {
  color: var(--text-tertiary) !important;
}
.aa-Form:hover {
  background-color: var(--hover) !important;
}
.aa-Form:focus,
.aa-Form:focus-within {
  border: 1px solid var(--border-accent) !important;
  box-shadow: none !important;
}
.aa-Input {
  color: var(--text-primary) !important;
}
.aa-DetachedSearchButtonPlaceholder {
  font-size: 0.875rem;
}
.aa-Input::-webkit-input-placeholder {
  color: var(--text-tertiary) !important;
}

.navbar-help {
  height: 2.5rem;
  border: 1px solid var(--dark-border-subtle);
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none !important;
  padding: 0 1rem 0 0.75rem !important;
  margin-right: 1rem;
}
.navbar-help:hover {
  background-color: var(--dark-hover);
}
.help-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--dark-text-primary);
  text-decoration: none !important;
}

.help-text {
  font-size: 0.875rem;
  margin: 0 0 0 0.5rem;
}

/* Sidebar Menu */
.menu {
  padding: 1rem 1rem 3rem 1rem !important;
}
.theme-doc-sidebar-item-category:not(:first-child) {
  margin-top: 1rem;
}
.menu__link,
.menu__list-item-collapsible {
  padding-left: 0;
  padding-right: 0;
}
.menu__link {
  height: 2.25rem;
  font-size: 0.875rem;
  border-radius: 20px !important;
}
.menu__list-item-collapsible {
  height: 2.25rem;
  cursor: default;
  background-color: transparent !important;
}
.menu__list-item-collapsible > .menu__link {
  color: var(--text-tertiary);
}

.menu__list .menu__list {
  margin-top: 0;
  padding-left: 0;
}
.menu__list .menu__list > .menu__list-item > .menu__link {
  padding-left: calc(var(--ifm-menu-link-padding-horizontal) + 0.625rem);
  padding-right: 1rem;
}

/* Add icon next to the menus */
.category-getting-started > div > a:before {
  content: url("/svg/icon-sidebar-rocket.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}
.category-dapp > div > a:before {
  content: url("/svg/icon-sidebar-tutorial.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}
.category-script > div > a:before {
  content: url("/svg/icon-sidebar-script.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}
.category-tool > div > a:before {
  content: url("/svg/icon-sidebar-tool.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}
.category-integrate-wallets > div > a:before {
  content: url("/svg/icon-sidebar-wallet.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}
.category-node > div > a:before {
  content: url("/svg/icon-sidebar-node.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}
.category-common-scripts > div > a:before {
  content: url("/svg/icon-sidebar-common-script.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}
.category-molecule > div > a:before {
  content: url("/svg/icon-sidebar-molecule.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}
.category-howto > div > a:before {
  content: url("/svg/icon-sidebar-howto.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}
.category-mining > div > a:before {
  content: url("/svg/icon-sidebar-mining.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}
.category-history-hardfork > div > a:before {
  content: url("/svg/icon-sidebar-history.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}
.category-tech-explanation > div > a:before {
  content: url("/svg/icon-sidebar-concept.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}
.category-ecosystem > div > a:before {
  content: url("/svg/icon-sidebar-ecosystem.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}
.category-resources > div > a:before {
  content: url("/svg/icon-sidebar-resource.svg");
  margin-right: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}

/* Footer */
.footer > .container {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.footer__copyright {
  font-size: 0.875em;
}

/* Table of Contents */
.table-of-contents {
  padding: 0rem 1rem 3rem 1rem;
}

.table-of-contents__left-border {
  border-left: none;
}

.table-of-contents__link {
  font-size: 0.875rem;
}

/* Table */
table tr:nth-child(2n) {
  background-color: var(--ifm-table-background);
}

/* Containers */
.container {
  padding-bottom: 7.5rem !important;
}
.col {
  --ifm-spacing-horizontal: 2rem;
}

/* Pagination */
.pagination-nav__link {
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
}
.pagination-nav__sublabel {
  color: var(--text-tertiary);
  margin-bottom: 0.5rem;
}
.pagination-nav__label {
  color: var(--text-primary);
  font-size: 1.25rem;
}
.pagination-nav__link--next .pagination-nav__label::after {
  content: none;
}
.pagination-nav__link--prev .pagination-nav__label::before {
  content: none;
}

/* Doc Content */
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
}
h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

button {
  font-family: "Lato", sans-serif;
  line-height: 1.2;
}

p,
blockquote,
ul,
ol {
  font-weight: 400;
  line-height: 1.7;
  font-size: 1rem;
  margin: 1rem 0 1rem;
}

ol {
  padding-left: 1rem;
}

.markdown > img {
  width: 100%;
  height: auto;
}

li > img {
  width: 100%;
  height: auto;
}

.markdown > h1,
h1 {
  font-size: 2.25rem;
  margin: 4rem 0 2rem;
}
.markdown > h2,
h2 {
  font-size: 1.5rem;
  margin: 3.5rem 0 1.5rem;
}

.markdown > h3,
h3 {
  font-size: 1.25rem;
  margin: 2rem 0 1.5rem;
}

.markdown > h4,
h4 {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.markdown li::marker {
  color: var(--text-tertiary);
}

code {
  border-radius: 4px;
  border: 1px solid var(--border-invisible);
}

pre {
  border-radius: 8px;
}
pre > code {
  box-shadow: none;
  border-radius: 8px;
  line-height: 1.7 !important;
}
.markdown video {
  padding: 1rem 0;
}

/* Tablist */
.tabs {
  border-bottom: 1px solid var(--border-subtle);
  font-weight: 400;
  color: var(--text-tertiary);
}

.tabs__item {
  padding: 0.5rem;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 2rem;
}

.tabs__item--active {
  font-weight: 700;
}

/* End of the page */
.theme-last-updated {
  color: var(--text-tertiary);
  font-style: normal;
  font-size: 0.75rem;
}
.theme-edit-this-page {
  font-size: 0.75rem;
}
.theme-edit-this-page > svg {
  display: none;
}

/* Admonitions */
.alert {
  border: 1px solid var(--ifm-alert-border-color);
  box-shadow: none;
}
.alert--secondary {
  --ifm-alert-background-color: var(--alert-secondary-bg);
  --ifm-alert-border-color: var(--alert-secondary);
}
.alert--success {
  --ifm-alert-background-color: var(--alert-success-bg);
  --ifm-alert-border-color: var(--alert-success);
}
.alert--info {
  --ifm-alert-background-color: var(--alert-info-bg);
  --ifm-alert-border-color: var(--alert-info);
}
.alert--warning {
  --ifm-alert-background-color: var(--alert-warning-bg);
  --ifm-alert-border-color: var(--alert-warning);
}
.alert--danger {
  --ifm-alert-background-color: var(--alert-danger-bg);
  --ifm-alert-border-color: var(--alert-danger);
}
.alert a {
  color: var(--text-link);
  text-decoration-color: var(--border-accent);
}

/*Details*/
details {
  --ifm-alert-border-color: var(--alert-success) !important;
  --ifm-alert-background-color: var(--alert-success-bg) !important;
}

/* Footer */
.footer {
  --ifm-footer-background-color: var(--dark-surface-03);
  --ifm-footer-title-color: var(--dark-text-primary);
  --ifm-footer-link-color: var(--dark-text-secondary);
}

/* Banner link to legacy doc site */

#oldSiteLink {
  height: 2.5rem;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-surface-02);
  color: var(--dark-text-secondary);
}
#oldSiteLink a {
  color: var(--dark-text-link);
}

/* Responsive */
@media (min-width: 1441px) {
  :root {
    --doc-sidebar-width: 300px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .navigationSlider {
    margin-left: 0;
  }
  .navPusher {
    padding-top: 90px; /* Normal is 50, plus old site link banner */
  }
  .onPageNav > .toc-headings {
    padding-top: 50px; /* Normal is 10, plus old site link banner */
  }
}

@media only screen and (max-width: 996px) {
  .table-of-contents {
    margin-top: 0;
  }
  a.table-of-contents__link {
    color: var(--text-secondary);
  }
  .col {
    --ifm-spacing-horizontal: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  #oldSiteLink {
    height: 60px;
  }
  #oldSiteLink span {
    display: block;
    text-align: center;
  }
  .fixedHeaderContainer {
    margin-top: 60px;
  }
  /* Pagination layout */
  .pagination-nav {
    display: flex;
    flex-direction: column;
  }
  /* Search on navbar */
  .navbar-search .aa-DetachedSearchButton {
    width: 72px;
    margin-right: 0px;
  }
  .aa-DetachedSearchButtonPlaceholder {
    display: none;
  }
  .markdown > h1,
  h1 {
    font-size: 2rem;
    margin: 3rem 0 2rem;
  }
}
