@import '@css/customVariables.css';

.cardContainer {
  width: 100%;
  border-radius: 8px;
  padding: 1.5em 1em;
  background-color: var(--surface-02);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none !important;
  color: var(--text-link);
}
.cardContainer:hover {
  border: 1px solid var(--border-accent);
}