@import '@css/customVariables.css';

.cardContainer {
  width: 100%;
  border-radius: 20px;
  background-color: var(--surface-02);
  border: 1px solid var(--border-subtle);
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  cursor: pointer;
  text-decoration: none !important;
  color: var(--text-secondary) !important;
}
.cardContainer:hover {
  border: 1px solid var(--border-accent);
}
.topContainer {
  width: 100%;
  display: inline-block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid var(--border-subtle);
}
.banner {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
}

.tagList {
  display: flex;
  align-items: center;
}

.tag {
  background-color: var(--text-link);
  font-size: 0.75em;
  color: var(--text-inverse);
  height: 24px;
  margin-right: 0.5em;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagList > .tag:last-child {
  margin-right: 0;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding: 0 1em;
}
.description {
  margin: 0;
}
.title, .description, .tagList {
  margin-bottom: 0.5em;
}
.links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}
.links > a:not(:last-child) {
  margin-right: 0.5em;
}
.iconContainer {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: var(--surface-03);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.iconContainer:hover {
  background-color: var(--surface-03-hover);
}