@import '@css/customVariables.css';

.cardContainer {
  width: 100%;
  border-radius: 8px;
  background-color: var(--surface-02);
  border: 1px solid var(--border-subtle);
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  cursor: pointer;
  text-decoration: none !important;
  color: var(--text-secondary) !important;
}
.cardContainer:hover {
  border: 1px solid var(--border-accent);
}
.bannerConatiner {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.banner {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}
.bottomContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding: 0 1em;
}
.title {
  margin-bottom: 0.5em;
}
.description {
  margin: 0;
}
.links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}
.links > a:not(:last-child) {
  margin-right: 1em;
}