@import "@css/customVariables.css";

.box {
  border-radius: 20px;
  padding: 1.5rem;
  text-decoration: none !important;
  background-color: var(--surface-accent);
  color: var(--text-secondary) !important;
  box-shadow: none;
  line-height: 1.7 !important;
}

.subsection {
  margin-bottom: 0.5em;
}
.toolList {
  margin: 0;
  padding-left: 2.5rem;
}
.details {
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.collapsibleHeader {
  margin-left: -1.125rem;
}
.collapsibleText {
  color: var(--text-link);
}
.expandedList {
  padding-left: 2.5rem;
}
