# Ignore build artifacts
build/
dist/
.docusaurus/
node_modules/

# Ignore configuration files
config/
.prettierignore
.husky/
package-lock.json
yarn.lock
.lychee.toml

# Ignore specific files
*.log
*.png
*.jpg
*.svg
*.jpeg
*.gif
*.webp

# Ignore specific directories
# since it has a bug for mdx tsx code block
docs/sdk-and-devtool/ccc.mdx
