# Ignore build artifacts
build/
dist/
.docusaurus/
node_modules/

# Ignore configuration files
config/
.prettierignore
.husky/
package-lock.json
yarn.lock

# Ignore specific files
*.log
*.png
*.jpg
*.svg
*.jpeg
*.gif
*.webp
