name: Examples

on:
  pull_request:
    paths: [examples/**, scripts/**]
  push:
    paths: [examples/**, scripts/**]

jobs:
  examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'

      - uses: sigoden/install-binary@v1
        with:
          repo: nervosnetwork/ckb-standalone-debugger
          name: ckb-debugger
          cache: true

      - name: ckb-rust-script
        run: ./scripts/examples-rust-ci.sh

      - name: ckb-ts-script
        run: ./scripts/examples-ts-ci.sh

      - name: ckb-c-script
        run: ./scripts/examples-c-ci.sh
      - name: dApp-examples
        run: ./scripts/examples-dapp-ci.sh

      - name: dApp-fullstack
        run: ./scripts/examples-fullstack-ci.sh
