name: Test deployment

on:
  pull_request:
    branches: [develop]
    paths: [website/**]

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: yarn
          cache-dependency-path: website/yarn.lock
      - name: Test build
        working-directory: website
        run: |
          yarn add remark-math@3 rehype-katex@5 hast-util-is-element@1.1.0
          yarn install --frozen-lockfile
          yarn build
